@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Edit Page</h3>

<h4>Editing info for : @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <hr/>
    @Html.LabelFor(model => model.Number)
    @Html.EditorFor(model => model.Number)
    <hr/>
    @Html.LabelFor(model => model.Availability)
    @Html.EditorFor(model => model.Availability)
    <hr/>
    <input type="submit" value="Save" class="btn" />
}

<p>@Html.ActionLink("Back to stylist list", "Index")</p>