@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Edit</h3>

<h4>Edit this client: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <hr/>
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <hr/>
    @Html.LabelFor(model => model.Number)
    @Html.EditorFor(model => model.Number)
    <hr/>
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to client list", "Index")</p>